*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sono', sans-serif !important;
}

body{
  background-image: url("https://images8.alphacoders.com/632/632051.png");
  background-position: center;
  display: block;
  background-size: cover;
}

.overlay_card{
  position: absolute;
  bottom: 0 !important;
  right: 0 !important;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.7);
}

.container-fluid{
  width: 100%;
}

.badge_items{
  margin-top: 50px;
  margin-bottom: 20px;
}

.jumbotron{
  width: 100%;
  margin-top: 20px;
  height: 200px;
  z-index: -1 ;
  position: relative;
}

.text_title{
  color: white;
  font-size: 20px;
  position: absolute;
}

.card:hover .overlay_card{
  opacity: 1;
}

::-webkit-scrollbar {
  width: 0px;
}

@media screen and (max-width: 800px){
  .badge{
    display: none;
  }
  #synopsis{
    font-size: 10px;
  }
  
  #container_synopsis{
    margin-top: 70px !important;
    height: 150px !important;
  }
}

@media screen and (max-width: 968px){
  #synopsis{
    font-size: 12px;
  }

  .badge_items{
    margin-top: 40px;
    margin-bottom: 10px;
  }

  #container_synopsis{
    height: 170px !important;
  }

  .badge_items > span {
    font-size: 10px;
  }

  .text_title{
    font-size: 13px !important;
  }
}